html,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}
.container {
  height: 100%;
}

.toggle {
  position: absolute;
  z-index: 100;
}

.slide.in{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100%;
  background-color: #eee;
  opacity: 0.5;
}
.slide.in > form {
  margin-top: 40px;
}
.slide.in > form > button {
  opacity: 1;
  background-color: #aaa;
}

.slide.out {
  display: none;
}

.details {
  position: fixed;
  top: 50%;
  left: 50%;
  transition: translate(-50%, -50%);
  display: flex;
}

.details > h1 {
  margin: 0 20px;
}