html,
body,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px 20px;
  background-color: #eee;
}

.container {
  display: flex;
  flex: 1;
}

.quiz-create {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  flex: 2;
  align-items:center;
}

.quiz-create > h2 {
  width: 100%;
  padding: 20px 10%;
  border-bottom: 1px solid black;
  text-align: center;
}

.quiz-create > h3 {
  margin: 10px 0;
}

.quiz-create > input {
  width: 80%;
}

.quiz-create .answer {
  display: flex;
  width: 80%;
}
.quiz-create .answer input {
  flex: 1;
}
.quiz-create > button {
  width: 80%;
  margin: 10px 0;
}


.quiz-list {
  background-color: #aaa;
  flex: 5;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-item {
  width: 400px;
  height: 250px;
  background-color: rgb(195, 183, 248);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
}
.quiz-item > h3 {
  font-size: 25px;
  margin: 5px 0 ;
  text-align: center;
}
.quiz-item > h4 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}
.quiz-item > div {
  margin: 0 15px;
}

.quiz-result {
  margin-top: 30px;
  background-color: aqua;
}