html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.8rem;
}

main {
  background-image: url("../assets/background.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  display: flex;
  padding: 50px 100px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 380px;
  cursor: pointer;
  margin: 20px 0;
  box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 50%);
  transition: 1s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover img {
  opacity: 0.4;
}

.card img {
  display: block;
  width: 100%;
  object-fit: fill;
  height: 190px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  height: 120px;
  color: white;
}

.details p {
  margin-top: 10px;
}