html,
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.note-lists {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.note {
  height: 200px;
  width: 200px;
  background-color: #aaa;
  margin: 15px;
}