* {
  margin: 0;
  padding: 0;
}

select option[value=""][disabled] {
	display: none;
}

main {
  height: 100vh;
  background: linear-gradient(to right, rgb(250, 102, 230), rgb(248, 186, 72));
}

label {
  font-size: 1rem;
  margin-bottom: 8px;
}

input:focus {
  outline: none;
}

.toast {
  position: absolute;
  z-index: 1000;
  left: 50%;
  /* bottom: 15px; */
  width: 150px;
  height: 40px;
  transform: translate(-50%, 0);
  text-align: center;
  
  background: rgba(255, 255, 255, 0.4);
  text-shadow: 0 0px 48px rgba(255, 255, 255, 1), 0 0px 24px rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 42px rgba(255, 255, 255, 0.6), 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;

  animation-name: move;
  animation-duration: 5s;
}

@keyframes move {
  0% {bottom: 0; opacity: 0;}
  50% {bottom: 15px; opacity: 1;}
  100% {bottom: 5px; opacity: 0;}
}

.container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  width: 400px;
  height: 400px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px rgba(167, 137, 137, 0.5);
}

.container h3 {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-bottom: 10px;
}

.container > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.container > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
}
.container > div >div span {
  width: 30px;
}
.container input {
  flex: 1;
  height: 37px;
  box-sizing: border-box;
  border: none;
}

.container select {
  height: 35px;
  border-radius: 5px;
}

.container button {
  margin-top: 20px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: rgb(238, 143, 143);
  border-radius: 10%;
  cursor: pointer;
}

