
main.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}
.main > form {
  height: 50px;
  margin: 20px 0;
}
.main > form  > input{
  height: 100%;
  width: 400px;
  font-size: 25px;
  border-radius: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: tomato;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}

.item img {
  width: 300px;
}

.scroll_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(81, 175, 182, 0.8);
  border: none;
  cursor: pointer;
}