html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  height: 500px;
  width: 800px;
}
.wrapper img {
  animation: fade 1s ease-out;
}

.btn{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
}
.btn:hover {
  background-color: rgb(112, 112, 112);
}
.btn.prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.btn.next {
  position: absolute;
  top: 50%;
  right: 0;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 30px 10px;
  background-color: rgb(199, 197, 197);
  border-radius: 50%;
  
}

.checked {
  animation: fade 1s ease-in;
  background-color: rgb(78, 64, 64);
}

@keyframes fade {
  from {opacity: 0.4;}
  to {opacity: 1;}
}