
main.main {
  background-color: rgb(248, 245, 74);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 6px solid;
  height: 350px;
  width: 600px;
  background-color: rgb(250, 255, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count {
  font-size: 100px;
  margin: 10px 0;
}
.btn {
  cursor: pointer;
  width: 90px;
  height: 40px;
  margin: 3px;
  background: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: black;
  color: white;
}