html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background: linear-gradient(to bottom, white, rgb(26, 32, 87));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timer {
  font-size: 100px;
  color: white;
  font-weight: bold;
}